body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

#audioPlayer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background: linear-gradient(45deg, #3498db, #2ecc71);
  border-radius: 10px;
  padding: 10px;
}

#seekBar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  margin-bottom: 10px; 
  position: relative;
}

#progressBar {
  height: 100%;
  background-color: #3498db;
  border-radius: 5px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#timeContainer {
  position: absolute;
  top: 15px;
  right: 0;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  padding: 0 5px;
}

#currentTime {
  margin-right: 5px;
}

#totalDuration {
  margin-left: 5px;
}

.controls {
  display: flex; 
  justify-content: space-around; 
  width: 100%; 
  flex-wrap: wrap; 
  position: relative;
  padding-bottom: 10px;
  top: 15px;
}

.controls button,
.controls label,
.controls select,
.controls input {
  margin-right: 10px; 
}

.controls select {
  width: 80px;
}

#volumeContainer,
#speedContainer,
#downloadContainer {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

#speedSelect {
  width: 65px;
}

@media only screen and (max-width: 600px) {
  #audioPlayer {
    padding: 5px;
  }

  .controls select {
    width: 50px;
    margin-right: 5px;
  }

  #speedSelect {
    width: 65px;
  }
}